@model ResidentModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Resident</title>

</head>
<body>
    <h1>Resident Details</h1>
    <table>
        <tr>
            <th>FULL NAME:</th>
            <td>@Model.FullName</td>
        </tr>
        <tr>
            <th>PRESENT ADDRESS:</th>
            <td>@Model.PresentAddress</td>
        </tr>
   
    </table>

</body>
</html>